body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgrey;
}

header {
  /* indica el valor de la propietat position i més propietats, si fan falta */
  position: relative;
}

header img {
  /* indica el valor de la propietat position i més propietats, si fan falta */
  position: absolute;
  z-index: 1;
}

ul#menu {
  /* indica el valor de la propietat position i més propietats, si fan falta */
  position: relative;
  display: flex;
}
li:first-child {
  margin-left: 295px;
}
li {
  margin-top: 34px;
}

ul#menu {
  background-color: #9bcc33;
  color: white;
  font-size: 16px;
  list-style: none;
  width: 1495px;
  height: 133px;
}

main {
  /* indica el valor de la propietat position i més propietats, si fan falta */
  border: 1px solid green;
}

main > h1 {
  /* indica el valor de la propietat position i més propietats, si fan falta */
  color: white;
  font-size: 2em;
}
main {
  border: 1px solid green;
}
